* {
	box-sizing: border-box;
}


html {
	height: 100vh;
	width: 100vw;
}


body {
	margin: 0;

	height: 100%;
	width: 100%;
}


.main {
	height: 100%;
	width: 100%;
	background-color: #000;

}


.nav {
	margin-bottom: 1%;
	width: 100%;
	height: 10%;
	position: fixed;
	top: 0;

	background-color: #FFF;
	display: flex;
	justify-content: center;
	z-index: 100;
}


.navElement {
	cursor: pointer;
	display: flex;
	align-items: center;
	width: 33.33%;

	border: 1px solid #000;
	display: flex;
	justify-content: space-around;
}


.navText {
	font-weight: bold;
	font-size: 1.5em;
}


#section1, #section2, #section3 {
	height: 100%;
	width: 100%;

	background-color: #000;
	position: relative;
}


#section2 {
	background-color: #FFF;
}

.animate {
	animation-name: navAnimation;
	animation-duration: 1.5s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
}

.unanimate {
	animation-name: navUnAnimation;
	animation-duration: 1.5s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
}

@keyframes navAnimation {
	0% {background-color: #FFF; color: #000;}
	100% {background-color: #000; color: #FFF; border-color: #FFF;}
}

@keyframes navUnAnimation {
	0% {background-color: #000; color: #FFF; border-color: #FFF;}
	100% {background-color: #FFF; color: #000;}
}